 <head>
   <link rel="stylesheet" href="/Content/css/bootstrap.css" type="text/css">
   <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
 </head>
 <div class="container">
   <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
       <h1>Add new contact</h1>
       <div class="panel panel-default">
         <div class="panel-body">
           <form action="/contact/new" method="post">
             <div class="form-group">
               <label for="firstName">First Name:</label>
               <input type="text" name="firstName" id="firstName" class="form-control" required>
             </div>
             <div class="form-group">
               <label for="lastName">Last Name:</label>
               <input type="text" name="lastName" id="lastName" class="form-control" required>
             </div>
             <div class="form-group">
               <label for="email">Email address:</label>
               <input type="text" name="email" id="email" class="form-control">
             </div>
             <div class="form-group">
               <label for="phone">Phone number:</label>
               <input type="number" name="phone" id="phone" class="form-control">
             </div>
             <div class="panel panel-default">
               <div class="panel-heading">
                 <h4>Mailing Address</h4>
               </div>
               <div class="panel-body">
                 <div class="form-group">
                   <label for="street">Street:</label>
                   <input type="text" name="street" id="street" class="form-control">
                 </div>
                 <div class="form-group">
                   <label for="city">City:</label>
                   <input type="text" name="city" id="city" class="form-control">
                 </div>
                 <div class="form-group">
                   <label for="state">State:</label>
                   <input type="text" name="state" id="state" class="form-control">
                 </div>
                 <div class="form-group">
                   <label for="zip">ZIP code:</label>
                   <input type="number" name="zip" id="zip" class="form-control">
                 </div>
               </div>
             </div>
             <button type="submit">Add Contact</button>
           </form>
         </div>
       </div>
       <p><a href="/">Return to contact list</a></p>
     </div>
   </div>
 </div>
